.pagination{
    margin: 25px;
}
.pagination button{
    margin: 10px;
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    padding: 5px;
}
button:disabled{
    color: #858585;
}
.pagination button.active {
    background-color: #f91678;
    color: #fcfcfc;
    font-weight: bold;
  }