.product-page{
    display: flex;
    gap: 150px;
    margin: 50px;
}
.productpage-image {
    width: 400px;
    border-radius: 10%;
}
.product-page-btn, .product-page-input{
    background: none;
    color: #000;
    margin-top: 20px;
    border: 1px solid #ff1058;
    margin-right: 10px;
}