.product-page{
    display: flex;
    gap: 150px;
    margin: 50px;
}
.productpage-image {
    width: 400px;
    border-radius: 10%;
}
.product-page-btn{
    background: #D10024;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}
.product-page-input{
    background: none;
    color: #000;
    margin-top: 20px;
    border: 1px solid #ff1058;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}