.header {
    font-family: Arial, sans-serif;
    background: #15161D;
    color: #fff;
    width: 100vw;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    font-size: 14px;
    background: #1E1F29;
  }
  .color-red{
    color: #D10024;
  }
  .main-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
  }
  
  .logo {
    font-size: 28px;
    font-weight: bold;
    color: rgb(249, 247, 248);
  }


  .search-bar{
    display: flex;
  }
  .searchbar-select{
    border-radius: 40px 0px 0px 40px;
    margin-left: 15px;
    text-align: center;
  }
  .searchbar-select, .searchbar-input {
    background: #d2d2d2;
    color: #000;
    height: 40px;
    border: none;
    padding: 0;

  }
  .searchbar-input{
    width: 300px;
  }
  
  .searchbar-btn {
    height: 40px;
    padding: 5px 12px;
    background:#D10024;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0px 40px 40px 0px;
}
  
  .icons {
    font-size: 14px;
  }
  
  .navbar {
    display: flex;
    padding: 20px 30px;
    justify-content: flex-start;
    gap: 20px;
    background: #ffffff;
  }
  
  .navbar-a {
    color: #4a4a4a;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar-a:hover {
    color: #D10024;
    text-decoration: underline;
  }
  .cart-wish{
    display: flex;
  }
  .wish-cart-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .btn-transparent{
    background: none;
  }
  .navbar{
    border-bottom: 1px solid gray;

  }
  .main-nav{
    display: flex;
    flex-direction: row;
  }
  .navbar-items{
    margin-right: 20px;
  }
  .active-text{
    color: #D10024;
    border-bottom: 3px solid #D10024;
  }
  .cart-total{
    padding-left: 70px;
  }