.categories{
    display: flex;
    flex-direction: column;
}
.category-title{
    color: black;
}
input[type="radio"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
    align-items: center;
    border: 2px solid rgb(251, 84, 139);
    background-color: white;
  
  }
  
  input[type="radio"]:checked {
    background-color: #D10024;
  }
  label{
    margin-bottom: 15px;
  }