.top-selling {
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
  }
  
  .top-sell-title{
    margin-bottom: 20px;
    color: black;
  }
  
  .top-selling-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .top-selling-card {
    width: 80%;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    display: flex;
    margin: 10px;
    padding-top: 10px;
  }
  
  .top-selling-image {
    width: 75px;
    height: 75px;
    margin-right: 20px;
    object-fit: cover;
    border-radius:10%;
}

  
  .top-selling-category {
    font-size: 13px;
    color: #777;
    margin: 5px 0;
  }
  
  .top-selling-name {
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
  }
  
  .top-selling-price {
    font-size: 12px;
    font-weight: bold;
    color: #D10024;
    margin-bottom: 10px;
  }
  
  